In [1]:
# read csv
import pandas as pd
df = pd.read_csv('review_counts.csv')

   app_id                        app_name  review_count
0  578080   PLAYERUNKNOWN'S BATTLEGROUNDS       1644255
1  271590              Grand Theft Auto V       1019116
2  359550  Tom Clancy's Rainbow Six Siege        841918
3  105600                        Terraria        672815
4    4000                     Garry's Mod        655524

In [2]:
app_id = df['app_id'].tolist()

In [3]:
print(app_id)

[578080, 271590, 359550, 105600, 4000, 252490, 252950, 218620, 945360, 292030, 381210, 346110, 227300, 413150, 72850, 431960, 582010, 367520, 242760, 322330, 374320, 620, 377160, 739630, 239140, 107410, 275850, 203160, 8930, 264710, 698780, 255710, 391540, 289070, 489830, 379720, 250900, 48700, 477160, 814380, 1145360, 240, 394360, 435150, 427520, 8870, 782330, 648800, 281990, 294100, 304390, 812140, 306130, 391220, 221380, 262060, 1289310, 646570, 552520, 236850, 594570, 219740, 883710, 629760, 225540, 524220, 594650, 204360, 379430, 548430, 270880, 268910, 518790, 397540, 779340, 238320, 588650, 581320, 582160, 440900, 552500, 268500, 644560, 284160, 219150, 457140, 323190, 960090, 238460, 55230, 433340, 212680, 70, 214950, 362890, 205100, 311690, 356190, 207610, 206440, 1057090, 508440, 460930, 546560, 113200, 863550, 1190460, 447040, 364360, 620980, 1158310, 513710, 213670, 493340, 526870, 274190, 1113000, 233860, 239030, 787860, 648350, 683320, 286160, 646910, 834910, 582660, 570940, 418370, 613100, 253230, 242920, 678950, 823130, 637650, 466560, 240720, 644930, 638970, 636480, 504230, 35140, 39210, 621060, 666140, 312660, 40800, 312530, 476600, 1118200, 728880, 250320, 339800, 485510, 447530, 583950, 420, 47890, 841370, 221640, 535930, 637090, 420290, 424840, 447820, 292730, 32470, 640820, 1089980, 420530, 577800, 285190, 517630, 247730, 527230, 413410, 1128000, 760060, 489940, 288160, 1225330, 264200, 214560, 626690, 464920, 413420, 427290, 250760, 512900, 428690, 283640, 673950, 872790, 429660, 736260, 560130, 206190, 571740, 425580, 590380, 519860, 421020, 1222700, 481510, 337340, 731490, 681660, 712100, 606280, 269950, 773951, 704850, 412830, 787480, 531510, 555220, 341800, 1240210, 428550, 544750, 875210, 445220, 743450, 609320, 730310, 593600, 537800, 589360, 1291340, 1056960, 673880, 1180380, 690830, 2870, 619080, 291860, 701160, 530070, 503940, 200900, 585420, 1017900, 382310, 1055540, 297130, 526160, 1229490, 671510, 236510, 620590, 1170880, 275390, 753420, 282560, 677120, 572410, 899440, 1144400, 788260, 758190, 546050, 543460, 595520, 632350, 502800, 543900, 332200, 677160, 613830, 1015500, 258180, 322110, 272270, 857980, 858210, 405710, 417290, 355790, 825630, 753650, 671440, 696170, 631510, 817130, 7510, 357190, 598330, 393520, 569860, 541210, 390340, 688130, 352550, 247240, 334040, 524580, 629910, 583470, 495560, 637670, 723390, 792990, 501080, 748490, 686600, 502280, 772540, 510510, 400940, 551730, 732810, 611760, 385560, 619290, 574050]